@import url("https://fonts.cdnfonts.com/css/avenir");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Avenir", Arial, Helvetica, sans-serif;
}

/* TODO: Move parallax hover styles to separate file */
.album-image-container {
  position: relative;
  color: #fff;
  transition: transform 0.1s ease;
  transform-style: preserve-3d;
  will-change: transform;
}

/* Slight parallax effect on hover */
.album-image-container:hover .album-image {
  transform: translateZ(12px);
}
